{% extends "layout.html" %}


{% block in_head %}
<script type="text/javascript">
  window.model.phecode = {{ phecode|tojson(separators=(',',':'))|safe }};
  window.model.pathway_name = {{ pathway_name|tojson(separators=(',',':'))|safe }};
</script>

{# <script src="{{ url_for('.static', filename='pathway_pheno_assoc.js') }}" type="text/javascript"></script> #}
{% endblock %}


{% block contained %}
<div class="row">
    <div class="col-xs-12">
        <h1 style="margin-top:0">{{ phecode }} + {{ pathway_name }} </h1>
        <p>
          <a href="/pheno/{{ phecode }}" class="btn btn-primary">Go to pheno {{ phecode }}</a>
          <a href="/pathway/{{ pathway_name }}" class="btn btn-primary">Go to pathway {{ pathway_name }}</a>
        </p>
        <p>Pathway Category: <b>{{ pathway_genesettype }} - {{ pathway_category }}</b></p>
        <p>Pathway URL: <b><a href="{{ pathway_url }}">{{ pathway_url }}</a></b></p>
        <p>pval: <b>{{ pval }}</b></p>
        <p>Pathway Genes: <b>{{ ', '.join(genes) }}</b></p>
        <p>Selected Genes: <b>{{ ', '.join(selected_genes) }}</b></p>
    </div>
</div>
{% endblock %}
