{% extends "layout.html" %}


{% block in_head %}
<script type="text/javascript">
  window.model.phecode = {{ phecode|tojson(separators=(',',':'))|safe }};
</script>

<link href="https://cdn.jsdelivr.net/npm/locuszoom@{{ config.LZJS_VERSION }}/dist/locuszoom.css" rel="stylesheet" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/locuszoom@{{ config.LZJS_VERSION }}/dist/locuszoom.app.min.js" type="text/javascript"></script>

<script src="{{ url_for('.static', filename='pheno.js') }}" type="text/javascript"></script>
<style type="text/css">
#phewas_plot_container { min-width: 700px; }
#phewas_plot_container .lz-data_layer-tooltip { max-width: 400px; }
</style>
{% endblock %}


{% block contained %}
<div class="row">
    <div class="col-xs-12 col-sm-8">
        <h1 style="margin-top:0">{{ phecode }}: {{ phenostring }}</h1>
        <p>Category: <b>{{ category }}</b></p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <span class="pull-right">
        <a class="btn btn-default" href="{{ url_for('.pheno_download', phecode=phecode) }}">Download summary statistics</a>
      </span>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div id="phewas_plot_container"></div>
        <div id="table" class="table-striped table-bordered"></div>
        <hr>
        <p>The plot shows only the strongest ~2000 pathways.  The table only shows selected_genes for pathways with p<1e-5.</p>
    </div>
</div>
{% endblock %}
