{% extends "layout.html" %}


{% block in_head %}
<script type="text/javascript">
  window.model.pathway_name = {{ pathway_name|tojson(separators=(',',':'))|safe }};
</script>

<link href="https://cdn.jsdelivr.net/npm/locuszoom@{{ config.LZJS_VERSION }}/dist/locuszoom.css" rel="stylesheet" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/locuszoom@{{ config.LZJS_VERSION }}/dist/locuszoom.app.min.js" type="text/javascript"></script>

<link href="https://unpkg.com/tabulator-tables@4.2.2/dist/css/bootstrap/tabulator_bootstrap.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.2.2/dist/js/tabulator.min.js"></script>

<script src="{{ url_for('.static', filename='pathway.js') }}" type="text/javascript"></script>
<style type="text/css">
#phewas_plot_container { min-width: 700px; }
#phewas_plot_container .lz-data_layer-tooltip { max-width: 400px; }
</style>
{% endblock %}


{% block contained %}
<div class="row">
    <div class="col-xs-12">
        <h1 style="margin-top:0">{{ pathway_name }}</h1>
        <p>Category: <b>{{ genesettype }} - {{ category }}</b></p>
        <p>Genes: <b>{{ genes_comma.replace(',',', ') }}</b></p>
        <p>URL: <b><a href="{{ url }}">{{ url }}</a></b></p>
        <div id="phewas_plot_container">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div id="table" class="table-striped table-bordered"></div>
    </div>
</div>
{% endblock %}
